<p id="notice"><%= notice %></p>

<div class="row col-lg-12">
  <div class="container">
    <% @articles.each do |article| %>
      <div class="col-md-6">
        <%= link_to article.name, article %>
        <%= image_tag(article.image.url, class: "img-responsive", :size => "500x500") %>
        <%= article.text %>
        <%= "#{article.comments.roots.count} comments" %>
        <% if article.comments.roots.count > 0 %>
          <% article.comments.limit(5).roots.each do |comment| %>
              <%= render 'comments/comment', comment: comment.root %>
            <% end %>
          <% if article.comments.roots.count > 5%>
            <%= link_to "View all #{article.comments.roots.count} comments", article %>
          <% end %>

        <% end %>
        
        <%= form_with(model: [ article, article.comments.build ], local: true) do |form| %>
            <%= form.text_field :message %>
            <%= form.submit "Comment"%>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Article', new_article_path, class: "btn btn-primary btn-sm" %>
